In [1]:
import pandas as pd

## first three

In [4]:
data1 = pd.read_csv('data/similarity_category_meta.csv').drop(['Unnamed: 0'], axis = 1)
data2 = pd.read_csv('data/similarity_fg_name.csv').drop(['Unnamed: 0'], axis = 1)[['similarity_fg_name',]]
data3 = pd.read_csv('data/similarity_category_fg.csv').drop(['Unnamed: 0'], axis = 1)[['similarity_category_fg',]]

display(data1.sample(7))
display(data2.sample(7))
display(data3.sample(7))
print(data1.shape)
print(data2.shape)
print(data3.shape)

/tmp/ipykernel_457958/340903600.py:1: DtypeWarning: Columns (1,2,3,4,5,6,7) have mixed types. Specify dtype option on import or set low_memory=False.
  data1 = pd.read_csv('data/similarity_category_meta.csv').drop(['Unnamed: 0'], axis = 1)
/tmp/ipykernel_457958/340903600.py:2: DtypeWarning: Columns (1,2,3,4,5,6,7) have mixed types. Specify dtype option on import or set low_memory=False.
  data2 = pd.read_csv('data/similarity_fg_name.csv').drop(['Unnamed: 0'], axis = 1)[['similarity_fg_name',]]
/tmp/ipykernel_457958/340903600.py:3: DtypeWarning: Columns (1,2,3,4,5,6,7) have mixed types. Specify dtype option on import or set low_memory=False.
  data3 = pd.read_csv('data/similarity_category_fg.csv').drop(['Unnamed: 0'], axis = 1)[['similarity_category_fg',]]

,ukb_code,fg_code,fg_name,category_fg,category_meta,description_ukb,description_more_ukb,en,similarity_category_meta
78289,709.7,NaN,NaN,NaN,NaN,Unspecified diffuse connective tissue disease,NaN,Seminal plasma,0.0
160996,NaN,Q17_SEPTA_DEFEC,Septal defects,"XVII Congenital malformations, deformations an...",NaN,NaN,NaN,Fixed somatic and germ cells,0.0
83672,961,NaN,NaN,NaN,NaN,Poisoning by anti-infectives,NaN,Cord blood buffy coat,0.0
151282,NaN,M13_FATPADHYPERTROPHY,Hypertrophy of (infrapatellar) fat pad,XIII the musculoskeletal system and connectiv...,NaN,NaN,NaN,Seminal plasma,0.0
59374,261.2,NaN,NaN,NaN,NaN,Vitamin B-complex deficiencies,NaN,Whole blood,0.0
133336,NaN,G6_FEMLE,Lesion of femoral nerve,VI the nervous system (G6_),NaN,NaN,NaN,Multifactorial,0.0
82582,850,NaN,NaN,NaN,NaN,Hemorrhage or hematoma complicating a procedure,NaN,Gonadal biopsy specimens,0.0

        similarity_fg_name
14965             0.000000
62470             0.000000
102665            0.723969
125655            0.848279
32351             0.000000
108242            0.808282
163065            0.838912

        similarity_category_fg
100419                0.738996
93720                 0.000000
60840                 0.000000
97771                 0.767397
9743                  0.000000
136968                0.856953
71333                 0.000000

(163067, 9)
(163067, 1)
(163067, 1)

In [5]:
# data1 = pd.read_csv('data/similarity_fg_name.csv').drop(['Unnamed: 0'], axis = 1)
# data2 = pd.read_csv('data/similarity_category_meta.csv').drop(['Unnamed: 0'], axis = 1)[['similarity_fg_name',]]
# data3 = pd.read_csv('data/similarity_category_fg.csv').drop(['Unnamed: 0'], axis = 1)[['similarity_fg_name',]]

# display(data1.sample(7))
# display(data2.sample(7))
# print(data1.shape)
# print(data2.shape)

In [6]:
data123 = data1.merge(
    data2, 
    left_index=True, 
    right_index=True, 
    how='outer'
).merge(
    data3, 
    left_index=True, 
    right_index=True, 
    how='outer'
)
print(data123.shape)
data123.sample(7)

(163067, 11)

,ukb_code,fg_code,fg_name,category_fg,category_meta,description_ukb,description_more_ukb,en,similarity_category_meta,similarity_fg_name,similarity_category_fg
43760,L29,NaN,NaN,NaN,NaN,L29 Pruritus,truncated: true,sex development,0.0,0.000000,0.000000
125198,NaN,CMV_NOS,/unspecified cytomegaloviral,I Certain infectious and parasitic (AB1_),NaN,NaN,NaN,Placenta,0.0,0.662766,0.683726
139482,NaN,H8_HL_NAS,specified/unspecified hearing loss,VIII the ear and mastoid process (H8_),NaN,NaN,NaN,Monogenic,0.0,0.709324,0.779604
82565,850,NaN,NaN,NaN,NaN,Hemorrhage or hematoma complicating a procedure,NaN,Urine,0.0,0.000000,0.000000
160836,NaN,Q17_OTHER_CONGEN_MALFO_UPPER_ALIME_TRACT,congenital malformations of upper alimentary ...,"XVII Congenital malformations, deformations an...",NaN,NaN,NaN,Urine,0.0,0.558489,0.532601
157733,NaN,O15_MAT_CARE_MALPRESENT,Maternal care for known or suspected malpresen...,"XV Pregnancy, childbirth and the puerperium (O...",NaN,NaN,NaN,Urine,0.0,0.611673,0.606313
18084,104200,NaN,NaN,NaN,NaN,Courgette intake,"asked: ""How many servings of courgette did yo...",Fixed somatic and germ cells,0.0,0.000000,0.000000

## Add fourth

In [11]:
data45 = []
for col in ['similarity_description_more_ukb', 'similarity_description_ukb']:
    data_p1 = pd.read_csv(f"data/{col}_0.csv").drop(["Unnamed: 0"], axis=1)
    data_p2 = pd.read_csv(f"data/{col}_1.csv").drop(["Unnamed: 0"], axis=1)
    data_p3 = pd.read_csv(f"data/{col}_2.csv").drop(["Unnamed: 0"], axis=1)
    data = pd.concat([data_p1, data_p2, data_p3]).reset_index().drop(["index"], axis=1)[[col,]]
    data45.append(data)


print(data45[0].shape)
print(data45[1].shape)
display(data45[1].sample(7))
display(data45[0].sample(7))

(163067, 1)
(163067, 1)

        similarity_description_ukb
43839                     0.836249
144652                    0.000000
86360                     0.000000
107527                    0.849382
87845                     0.000000
91892                     0.000000
1450                      0.759742

        similarity_description_more_ukb
68894                          0.000000
6591                           0.707961
39762                          0.760033
8946                           0.693137
27707                          0.726918
113340                         0.000000
55168                          0.000000

## Merge all

In [13]:
data_all = data123.merge(
    data45[0], 
    left_index=True, 
    right_index=True, 
    how='outer'
).merge(
    data45[1], 
    left_index=True, 
    right_index=True, 
    how='outer'
)
print(data_all.shape)
data_all.sample(7)

(163067, 13)

,ukb_code,fg_code,fg_name,category_fg,category_meta,description_ukb,description_more_ukb,en,similarity_category_meta,similarity_fg_name,similarity_category_fg,similarity_description_more_ukb,similarity_description_ukb
33814,5984,NaN,NaN,NaN,NaN,"ECG, load","ECG, load The Bike Test consists of many phase...",DNA,0.000000,0.000000,0.000000,0.656080,0.819435
154278,NaN,MACULAR_HOLE,Macular hole,VII the eye and adnexa (H7_),NaN,NaN,NaN,Reproductive system disease,0.000000,0.802372,0.802111,0.000000,0.000000
54062,Z76,NaN,NaN,NaN,NaN,Z76 Persons encountering health services in c...,truncated: true,Cord blood in RNA stabilizer,0.000000,0.000000,0.000000,0.837550,0.858377
113758,728.71,M13_DUPUTRYEN,Palmar fascial fibromatosis [Dupuytren],XIII the musculoskeletal system and connectiv...,XIII the musculoskeletal system and connectiv...,Contracture of palmar fascia [Dupuytren's dise...,NaN,Leukocyte film,0.841665,0.824608,0.841665,0.000000,0.828517
58002,217,NaN,NaN,NaN,NaN,Vascular hamartomas and non-neoplastic nevi,NaN,Urine,0.000000,0.000000,0.000000,0.000000,0.583975
15980,102350,NaN,NaN,NaN,NaN,Chocolate biscuits intake,"asked: ""How many chocolate biscuits (e.g. cho...",Whole blood in RNA stabilizer,0.000000,0.000000,0.000000,0.819729,0.858179
52326,Y48,NaN,NaN,NaN,NaN,Y48 Anaesthetics and therapeutic gases,truncated: true,Cord blood,0.000000,0.000000,0.000000,0.782251,0.722180

In [16]:
data_all[['fg_significant','ukb_significant','meta_significant']] = 0
data_all

,ukb_code,fg_code,fg_name,category_fg,category_meta,description_ukb,description_more_ukb,en,similarity_category_meta,similarity_fg_name,similarity_category_fg,similarity_description_more_ukb,similarity_description_ukb,fg_significant,ukb_significant,meta_significant
0,30600,NaN,NaN,NaN,NaN,Albumin,NaN,DNA,0.0,0.000000,0.000000,0.0,0.786885,0,0,0
1,30600,NaN,NaN,NaN,NaN,Albumin,NaN,Whole blood in RNA stabilizer,0.0,0.000000,0.000000,0.0,0.829446,0,0,0
2,30600,NaN,NaN,NaN,NaN,Albumin,NaN,Urine,0.0,0.000000,0.000000,0.0,0.807602,0,0,0
3,30600,NaN,NaN,NaN,NaN,Albumin,NaN,Plasma,0.0,0.000000,0.000000,0.0,0.829238,0,0,0
4,30600,NaN,NaN,NaN,NaN,Albumin,NaN,Plasma (fetal fraction),0.0,0.000000,0.000000,0.0,0.802679,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163062,NaN,Z21_TOBAC_USE,Tobacco use,XXI Factors influencing health status and cont...,NaN,NaN,NaN,Population control,0.0,0.842270,0.701279,0.0,0.000000,0,0,0
163063,NaN,Z21_TOBAC_USE,Tobacco use,XXI Factors influencing health status and cont...,NaN,NaN,NaN,Spontaneous abortion,0.0,0.833662,0.681018,0.0,0.000000,0,0,0
163064,NaN,Z21_TOBAC_USE,Tobacco use,XXI Factors influencing health status and cont...,NaN,NaN,NaN,Infertility,0.0,0.828170,0.777059,0.0,0.000000,0,0,0
163065,NaN,Z21_TOBAC_USE,Tobacco use,XXI Factors influencing health status and cont...,NaN,NaN,NaN,Reproductive system disease,0.0,0.838912,0.772047,0.0,0.000000,0,0,0
163066,NaN,Z21_TOBAC_USE,Tobacco use,XXI Factors influencing health status and cont...,NaN,NaN,NaN,sex development,0.0,0.831334,0.736068,0.0,0.000000,0,0,0

In [17]:
data_all.to_csv('data/final_similarity.tsv', sep='\t', index=False)